<ion-header>
   <ion-navbar>
      <ion-title>
         Autenticação de usuário
      </ion-title>
   </ion-navbar>
</ion-header>

<ion-content padding>
   
   <div *ngIf="!auth.isAuthenticated()">

      <h4>Inscreva-se ou autentique-se</h4>

      <ion-list>
         
         <ion-item>
            <ion-label fixed>E-mail</ion-label>
            <ion-input type="text" [(ngModel)]="email"></ion-input>
         </ion-item>

         <ion-item>
            <ion-label fixed>Senha</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
         </ion-item>
      </ion-list>

      <ion-grid>
         <ion-row>
            <ion-col width-50>
               <button ion-button block (click)="register()">Inscrever-se</button>
            </ion-col>
            <ion-col width-50>
               <button ion-button block (click)="login()">Entrar</button>
            </ion-col>
         </ion-row>
      </ion-grid>

   </div>

   <div *ngIf="auth.isAuthenticated()">

      <h4>Perfil do usuário</h4>

      <ion-list *ngIf="auth.isAuthenticated()">

         <ion-item>
            <ion-label fixed>Nome</ion-label>
            <ion-input class="right" type="text" [(ngModel)]="name"></ion-input>
         </ion-item>

         <ion-item>
            <ion-label>Data de nascimento</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="birthday"></ion-datetime>
         </ion-item>

      </ion-list>

      <ion-grid>
         <ion-row>

            <ion-col width-50>
               <button ion-button color="secondary" block (click)="save()">Salvar</button>
            </ion-col>

            <ion-col width-50>
               <button ion-button color="dark" block (click)="logout()">Sair</button>
            </ion-col>

         </ion-row>
      </ion-grid>

   </div>

</ion-content>